.questions-container{
    border: 1px solid;
    padding: 10px;
}
.question-item{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid;
    justify-content: space-around;
}
.question{
    display: flex;
}
.question-title{
    font-weight: bold;
}
.view-reply-button{
    color: #ffffff;
    background-color: black;
    padding: 5px;
    border: 0px;
    margin: 5px;
}